.home-body{
    background-color: black ;
    min-height: 500px;
    color: white ;
    display: flex;
    justify-content: space-around;
    padding: 1%;
    margin-top: 10%;
    text-align: center;
}

.home-body span{
    margin: auto;
    font-size: 30px;
    padding: 1%
}